* {
  font-size: 1.1em;
}

.App {

  text-align: center;
  display: flex;
  flex-direction: row;
  gap: 2em;

}

.Icon a {
  width: inherit;
}

.Icon {
  display: flex;
  justify-content: center;
  align-items: center;


  width: 2em;
  height: 2em;
}

.Icon img {
  width: inherit;

}

/* Start Profile Image CSS */

.Profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Profile img {
  height: 6em;
  border-radius: 50%;
  border: 5px solid rgb(255, 255, 255);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.368);
}



/* End Profile Image CSS */

/* Start Header CSS */
.Header {
  padding: 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.Icons {
  display: flex;
  flex-direction: row;
  gap: 2em;
}

/* End Header CSS */


/* Start Sume Nav */
.sumeNav {
  display: flex;
  flex-direction: row;
  gap: 2em;
  background-color: red;
  width: 95vw;
  margin: 1em 0em;
  padding: 0em 1em;
  align-items: center;
  justify-content: center;
}

/* End Sume Nav */

/* Start Sume CSS */
.Body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: fit-content;
  padding: 0em 0em 2em 0em;
}

.Sume {
  display: block;


  width: 45em;
  height: 20em;
  background-color: rgba(159, 237, 255, 0.366);
  outline: 10px solid rgba(122, 101, 255, 0.402);

}


/* End Sume CSS */