* {
  font-size: 1em;
}

.App {

  text-align: center;
  display: flex;
  flex-direction: row;
  gap: 2em;

}

.Icon {
  display: flex;
  justify-content: center;
  align-items: center;


  width: 3em;
  height: 3em;
}

.Icon img {
  width: inherit;

}